<a href="https://colab.research.google.com/github/leesk212/Daily_Practice_Coding/blob/master/5_16_Coding_study_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 정렬 
## 2 - 위에서 아래로

In [10]:
N = int(input())

num = []
for i in range(N):
  num.append(int(input()))
sorted(num, reverse=True)
print(num)

3
27
15
12
[27, 15, 12]

## 3 - 성적이 낮은 순서로 학생 출력하기

In [19]:
N = int(input())


def setting(data):
  return data[1]

info = []

for i in range(N):
  name, grade = map(str,input().split())
  info.append([name,int(grade)])

info = sorted(info,key=setting)


print(info)

2
홍길동 95
이순신 77
[['이순신', 77], ['홍길동', 95]]

## 4-두별의 원소 교체

In [29]:
N, K = map(int,input().split())
A = list(map(int,input().split()))
B = list(map(int,input().split()))

A.sort()
B.sort(reverse=True)

print(A)
print(B)

for i in range(K):
  if A[i]<B[i]:
    A[i] = B[i]

print(sum(A))

5 3
1 2 5 4 3
5 5 6 6 5
[1, 2, 3, 4, 5]
[6, 6, 5, 5, 5]
26